.o-btn
	background negro
	border-radius 0
	border 1px solid negro
	color blanco
	cursor pointer
	display inline-block
	font regular 13px/13px tipografia-principal
	padding 10px 15px
	text-transform uppercase
	transition 1s all ease

	&:hover
		background blanco
		color negro
